html,
body{
    height: 100%;
    margin: 0;
    }

body{
    background: #89AC76;
    display: flex;
    align-items: center;
    justify-content: center;
    }

canvas{
    border-style: solid;
    border-width: thick;
    border-color: black;
    margin: 15%;
    }

span#counter {
    font-size: 40px;
    font-weight: bold;
}